body {
  font-family: 'Kaisei Opti', serif;
}

.greydark {
  background-color: #424242;
}

.gradient1 {
  background-image: url("../img/section1.jpg");
}

.gradient2 {
  background-image: url("../img/section2.jpg");
}

.gradient3 {
  background-image: url("../img/section3.jpg");
}

.gradient4 {
  background-image: url("../img/section4.jpg");
}

.bg-gradient {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: whitesmoke;
}

.binome1 {
    width: 40%;
    float: left;
}

.binome2 {
  width: 40%;
  float: right;
}

.top {
  position: top;
}

.bottom {
  position: bottom;
}

.ffxv {
  background-image: url("img/ffxv.jpg");
}

/* The Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #283593;
  opacity: 0.85;
}

/* Modal Content */
.modal-content {
  background-color: black;
  color: white;
  margin: auto;
  padding: 20px;
  border: 0;
  border-radius: 15px;
  width: 40%;
}

.form {
  width: 250px;
  height: 25px;
}

.message {
  width: 350px;
  height: 175px;
}

/* The Close Button */
.close {
  color: grey;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
