/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #999C99;
}

/* Handle */
::-webkit-scrollbar-thumb {
border-radius: 10px;
  background: #555;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #434343;
}

body {
  font-family: 'Lucida Sans', sans-serif;
}

p {
  font-size: 20px;
}

nav {
  background-color: rgb(24, 19, 37);
  background-image: radial-gradient(farthest-side at 0 0,rgba(255,26,198,.3),rgba(255,26,198,0));
  height: 70px;
  z-index: 4;
  position: sticky;
  top: 0;
}

nav ul li {
  margin-right: 5px;
  margin-left: 5px;
}

h1 {
  color: #fff;
  font-size: 100px;
  background-color: rgba(24, 19, 37,0.6);
  text-shadow: 2px 2px 2px #000;
}

h2 {
  color: #fff;
  padding: 15px;
  margin: 0px;
  text-shadow: 2px 2px 2px #000;
}

#final p a {
  color: rgb(199, 199, 199);
}

#final p a:hover {
  color:rgb(78, 116, 148);
  transition: 0.3s all;
}

#team .parallax-container, #real .parallax-container {
  min-height: 625px;
}

#idea .row, #final .row{
  color: #fff;
  margin-bottom: 0;
}

#idea, #final {
  background-color: #1c4477;
  background-image: radial-gradient(farthest-side at 10px 0,#235699,#0f2542);
}

#last .parallax-container, #last .parallax{
  height: 50px;
}

#real .row .col, #team .card-reveal, #team .extra {
  background-color: rgba(255,255,255,0.5);
  background-image: radial-gradient(farthest-side at 10px 0,rgba(235, 235, 235, 0.1),rgba(167, 167, 167, 0.5));
  border-radius: 15px;
}

.extra {
  width: 50%;
  padding: 1px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}

#real .row .col {
  margin-top: 5px;
  margin-bottom: 5px;
}

.card {
  border-radius: 20px;
}

.card-content {
  background-color: #424242;
  background-image: radial-gradient(farthest-side at 10px 0,rgba(12, 14, 134, 0.3),#424242);
}

.gradient1 {
  background-image: url("../img/section1.jpg");
}

.bg-gradient {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: whitesmoke;
}

.page-footer {
  background-color: #424242;
  background-image: radial-gradient(farthest-side at 10px 0,rgba(12, 14, 134, 0.3),#16000d);
}


 /*Caroussel*/
.carousel-bg {
  background-size: cover;
  background-position: center;
}

.ffxv {
  background-image: url("../img/ffxv.jpg");
}

.danmachi {
  background-image: url("../img/Danmachi.jpg");
}

.intranet {
  background-image: url("../img/intranet.jpg");
}

.intranet1 {
  background-image: url("../img/intranet1.jpg");
}

.intranet2 {
  background-image: url("../img/intranet2.jpg");
}

 #contact {
   background-color: #37474f;
   color: whitesmoke;
 }

.change {
   cursor: pointer;
   border: 0;
   text-align: center;
}

/*For Easter egg*/
.fffont {
  font-family: 'Kaisei Opti', sans-serif;
}

.colorff {
  background-color: #546e7a;
}
