body {
  font-family: 'Kaisei Opti', serif;
}

.greydark {
  background-color: #424242;
}

.gradient1 {
  background-image: url("../img/section1.jpg");
}

.gradient2 {
  background-image: url("../img/section2.jpg");
}

.gradient3 {
  background-image: url("../img/section3.jpg");
}

.gradient4 {
  background-image: url("../img/section4.jpg");
}

.bg-gradient {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: whitesmoke;
}

.binome1 {
    width: 40%;
    float: left;
}

.binome2 {
  width: 40%;
  float: right;
}

.top {
  position: top;
}

.bottom {
  position: bottom;
}

.ffxv {
  background-image: url("img/ffxv.jpg");
}
 #contact {
   background-color: #37474f;
   color: whitesmoke;
 }

 footer {
   background-color: black;
 }
